@model IEnumerable<Make>
@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<h1 class="text-center font-weight-bold alert alert-primary"> <i class="fa-solid fa-motorcycle"></i> Makes Of Bikes</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 text-right">
		<a href="" class="btn btn-success"> <i class="fa-solid fa-motorcycle"></i> Add New Make</a>
	</div>
</div>

