<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>@ViewData["Title"] - Honda</title>
	<!-- Required Meta Tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Project Styles -->
	<!-- Bootstrap Core CSS -->
	<!--	<link rel="stylesheet" type="text/css" media="all"
				  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.css"> -->
	<!-- Bootswatch Core CSS -->
	<!-- <link rel="stylesheet" type="text/css" media="all"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.2/united/bootstrap.css">  -->
	<link rel="stylesheet" type="text/css" media="all" href="~/css/united-bootstrap.css">
	<!-- Bootstrap Icons Core CSS -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
	<!-- DataTables Core CSS -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
	<!-- Fontawesome Core CSS -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">
	<!-- Animate Core CSS -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
	<!-- Application CSS -->
	<link rel="stylesheet" type="text/css" media="all" asp-append-version="true" href="~/css/site.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" media="all" asp-append-version="true" href="~/css/style.css">
</head>
<body>
	<!-- Header -->
	<header>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<!-- Brand -->
				<a class="navbar-brand" href="#">Honda</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Navbar Collapse -->
				<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between"
					 id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<!-- Fade Up Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Masters </a>
							<ul class="dropdown-menu fade-up">
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Make" asp-action="Index">
										Makes
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
										Models
									</a>
								</li>
								<!-- <li>
										<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
											Bikes
										</a>
										</li> -->
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home"
							   asp-action="Privacy">Privacy</a>
						</li>
						<!-- Fade Down Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Hover down </a>
							<ul class="dropdown-menu dropdown-menu-right fade-down">
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
										Submenu item 1
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
										Submenu item 1
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
										Submenu item 1
									</a>
								</li>
							</ul>
						</li>

					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<!-- Header -->
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer mt-5 py-5 bg-dark text-center text-white">
		<div class="container">
			&copy; 2022 - Honda - Made with <i class="fa fa-heart fa-spin text-info"></i> by Malik Mubashir
			@* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
		</div>
	</footer>


	<!-- Project JavaScript -->
	<!-- jQuery Core JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"></script>
	<!-- Bootstrap Core JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.js">
	</script>
	<!-- DataTables jQuery JS -->
	<script type="text/javascript"
			src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js">
	</script>
	<!-- DataTables jQuery JS Bootstrap -->
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
	<!-- Custom JS -->
	<script type="text/javascript" asp-append-version="true" src="~/js/site.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
